<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/vue.min.js"></script>
		
		<style>
			*{
				margin: 0;
				padding: 0; 
			}
			
		</style>
	</head>
	<body>
		<!--自定义属性
		<div v-focus>{{msg}}</div>
		<div v-focus>{{msg}}</div>
		<div v-focus>{{msg}}</div>
		
		<script>
			Vue.directive('focus',function(){
			this.el.style.color = "red";
			this.el.style.background = "black";
			this.el.onclick = function(){
				this.style.background = "green";
			}
		})
		
		
		new Vue({
			el:'body',
			data:{
				msg:'我是一个div'
			}
		})
			
		</script>
		-->
		
		<!-- 拖拽
		<div v-drage :style='{width:"200px",height:"200px",background:"black",position:"absolute"}'></div>
		
		<script>
			Vue.directive('drage',function(){
				this.el.onmousedown = function(e){
					var ev = e || event;
					var l = ev.clientX - this.offsetLeft;
					var t = ev.clientX - this.offsetTop;
					document.onmousemove = function(e){
						var ev = e || event;
						this.style.left = ev.clientX - l + "px";
						this.style.top = ev.clientY - t + "px";
					}.bind(this);
					document.onmouseup = function(){
						this.onmousemove = this.onmouseup = null;
					}
				};
			 
		}) 
		new Vue({
			el:'body' 
		})
			
		</script>-->
		
		
		<!--
		<div v-change :style='{width:"200px",height:"200px",background:"black"}'></div>
		<script>
			Vue.directive('change',function(){
				this.el.onclick = function(){
					this.style.background = "rgb("+parseInt(Math.random()*256)+","
												  +parseInt(Math.random()*256)+","
												  +parseInt(Math.random()*256)+")";
				}
			 
			}) 
			  
			new Vue({
				el:'body' 
			})
			
		</script>-->
		
		<!-- 给自定义指令传参
		<input type="text" v-model='blue' value=""/>
		<div v-action='blue' :style='{width:"200px",height:"200px",border:"1px solid black"}'></div>
		<script>
			Vue.directive('action',function(val){ 
				console.log(val);
				this.el.style.background = val;
			}) 
			new Vue({
				el:'body',
				data:{
					blue:'blue'
				}
			})
			
		</script>-->
		
		<!--<input type="text" v-model='blue' value=""/>
		<div v-action='blue' :style='{width:"200px",height:"200px",border:"1px solid black"}'></div>
		<script>
			Vue.directive('action', {
				bind(){
					this.el.style.background = "blue";
				},
				update(val){
					this.el.style.background = val;
				}
			}) 
			new Vue({
				el:'body',
				data:{
					blue:'blue'
				}
			})
			
		</script>-->
		
		<el-di>1233wsddd</el-di>
		<script>
			Vue.elementDirective('el-di',{
				bind(){
					this.el.style.background = "blue";
				}
			})
			new Vue({
				el:'body' 
			})
			
		</script>
	</body>
</html>
